:root {
	--bg-dark: hsl(218, 33%, 6%);
	--text-dark: hsl(0, 0%, 84%);
	--text-gray: hsl(0, 0%, 20%);
	--favorite: hsl(47, 92%, 53%);
	--bg-favorites: hsl(210 15% 6%);
	--border-favorites: hsl(0 0% 30%);
	--favorites-black: hsla(0 0% 0% 0.4);
	--color-gray-100: hsl(0, 0%, 99%);
	--color-gray-200: hsl(0, 0%, 87%);
	--color-gray-300: hsl(50 10% 70%);
	--color-gray-500: hsl(50 4% 50%);
	--color-gray-700: hsl(50 10% 25%);
	--color-gray-900: hsl(50 20% 10%);
	--color-gray-1000: hsl(0, 0%, 0%);
	--primary: hsl(357, 92%, 47%);
	--btn-border: hsla(0, 0%, 0%, 0.75);
	--btn-hover: hsla(0, 0%, 0%, 0.85);
	--btn-hover-border: hsla(0, 0%, 100%, 0.85);
}
